/* Configuracion de fuente */
@font-face {
    font-family: letraSEMWeb;
    src: url(fonts/otf/SFNSDisplay-Light.otf);
}

* {
    font-family: letraSEMWeb;
}

/* Configuracion de NavBar */
/* AGREGAR EN HTML p/ más grande: style="height: 100px;"
nav ul {
    padding-top: 20px;
} */

.blockquote {
    margin: 0;
    border-left: 5px solid #1565c0;
}

nav .nav-wrapper a img {
    /* ACOMPAÑA AL NAVBAR GRANDE: width: 270px; */
    width: 175px;
    padding-top: 6px;
}

.sidenav a img {
    margin-left: 105px;
}

/* Configuracion cuerpo servicios*/
.configSubservicio {
    padding-top: 5%;
    padding-bottom: 5%;
}

.presentacionService {
    padding-top: 5%;
    padding-bottom: 5%;
}

.cuerpoPresentacionServicio {
    margin-top: 0;
    margin-bottom: 0;
}

/* Configuracion de Nosotros */
#nosotros {
    background: #007991;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#cardNosotros {
    background-color: white;
    border: 0 solid;
    border-radius: 10px;
    padding: 2%;
}

/* Configuracion de footer */
h3,
.contactoFooter {
    margin-bottom: 0;
}

p,
.contactoFooter {
    margin-top: 0;
}

h5,
.contactoFooter {
    margin-top: 0;
}

.contactoFooterNos {
    margin-bottom: 0;
}

.page-footer .listFooter {
    padding-left: 0;
}

iframe {
    width: 150%;
    border-radius: 10px;
}

#imagenFooter {
    width: 125px;
}

.page-footer ul li {
    padding: 10px;
    padding-left: 100px;
}

.page-footer ul li a img {
    margin-right: 10px;
}